.elementor-1157 .elementor-element.elementor-element-f22e097>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-1157 .elementor-element.elementor-element-f22e097:not(.elementor-motion-effects-element-type-background),
.elementor-1157 .elementor-element.elementor-element-f22e097>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-8603af8);
}

.elementor-1157 .elementor-element.elementor-element-f22e097 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 0px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-f22e097>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-960a00e .elementor-button {
	font-family: "Barlow", Sans-serif;
	font-weight: 500;
	text-transform: lowercase;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	background-color: #E2007A00;
}

.elementor-1157 .elementor-element.elementor-element-960a00e .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-960a00e .elementor-button:focus {
	color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-960a00e .elementor-button:hover svg,
.elementor-1157 .elementor-element.elementor-element-960a00e .elementor-button:focus svg {
	fill: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-6b10e34 .elementor-button {
	font-family: "Barlow", Sans-serif;
	font-weight: 500;
	text-transform: lowercase;
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	background-color: #E2007A00;
}

.elementor-1157 .elementor-element.elementor-element-6b10e34 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-6b10e34 .elementor-button:focus {
	color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-6b10e34 .elementor-button:hover svg,
.elementor-1157 .elementor-element.elementor-element-6b10e34 .elementor-button:focus svg {
	fill: var(--e-global-color-2e28643);
}

/*.elementor-1157 .elementor-element.elementor-element-8dc25a0.elementor-column>.elementor-widget-wrap {
	justify-content: flex-end;
}*/

.elementor-1157 .elementor-element.elementor-element-8aa44ea .elementor-icon-wrapper {
	text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-8aa44ea.elementor-view-default .elementor-icon:hover {
	color: var(--e-global-color-2e28643);
	border-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-8aa44ea.elementor-view-default .elementor-icon:hover svg {
	fill: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea .elementor-icon {
	font-size: 24px;
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea .elementor-icon svg {
	height: 24px;
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-8aa44ea {
	width: auto;
	max-width: auto;
}

.elementor-1157 .elementor-element.elementor-element-420ccbf .elementor-icon-wrapper {
	text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-420ccbf.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-420ccbf.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-420ccbf.elementor-view-default .elementor-icon:hover {
	color: var(--e-global-color-2e28643);
	border-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-420ccbf.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-420ccbf.elementor-view-default .elementor-icon:hover svg {
	fill: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-420ccbf .elementor-icon {
	font-size: 24px;
}

.elementor-1157 .elementor-element.elementor-element-420ccbf .elementor-icon svg {
	height: 24px;
}

.elementor-1157 .elementor-element.elementor-element-420ccbf>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-420ccbf {
	width: auto;
	max-width: auto;
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e .elementor-icon-wrapper {
	text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-default .elementor-icon:hover {
	color: var(--e-global-color-2e28643);
	border-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-3e2a73e.elementor-view-default .elementor-icon:hover svg {
	fill: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e .elementor-icon {
	font-size: 24px;
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e .elementor-icon svg {
	height: 24px;
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-3e2a73e {
	width: auto;
	max-width: auto;
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7 .elementor-icon-wrapper {
	text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-default .elementor-icon {
	color: var(--e-global-color-secondary);
	border-color: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-framed .elementor-icon,
.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-default .elementor-icon svg {
	fill: var(--e-global-color-secondary);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-default .elementor-icon:hover {
	color: var(--e-global-color-2e28643);
	border-color: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-framed .elementor-icon:hover,
.elementor-1157 .elementor-element.elementor-element-8ea18e7.elementor-view-default .elementor-icon:hover svg {
	fill: var(--e-global-color-2e28643);
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7 .elementor-icon {
	font-size: 24px;
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7 .elementor-icon svg {
	height: 24px;
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7>.elementor-widget-container {
	padding: 0px 15px 0px 15px;
}

.elementor-1157 .elementor-element.elementor-element-8ea18e7 {
	width: auto;
	max-width: auto;
}

.elementor-1157 .elementor-element.elementor-element-b82875e>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-1157 .elementor-element.elementor-element-0315b80:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1157 .elementor-element.elementor-element-0315b80>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-1157 .elementor-element.elementor-element-0315b80>.elementor-element-populated {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: -20px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-0315b80>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .elementor-repeater-item-950f2f7 .swiper-slide-bg {
	background-color: #833CA300;
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .elementor-repeater-item-5dddce1 .swiper-slide-bg {
	background-color: #833CA300;
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide {
	height: 100px;
	transition-duration: calc(5000ms*1.2);
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide-contents {
	max-width: 66%;
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide-inner {
	text-align: center;
}

.elementor-1157 .elementor-element.elementor-element-5bd38e2 .elementor-slide-description {
	color: var(--e-global-color-secondary);
	font-family: "Gentium Basic", Sans-serif;
	font-size: 24px;
	font-weight: 400;
}

.elementor-1157 .elementor-element.elementor-element-3b68c13 .elementor-button {
	fill: var(--e-global-color-b499648);
	color: var(--e-global-color-b499648);
	background-color: var(--e-global-color-accent);
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-af4e00e {
	margin-top: 25px;
	margin-bottom: 25px;
}

.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	background-color: #E2007A00;
	border-style: solid;
	border-radius: 0px 0px 0px 0px;
}

.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button:hover,
.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button:focus {
	color: var(--e-global-color-b499648);
	background-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button:hover svg,
.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button:focus svg {
	fill: var(--e-global-color-b499648);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main .elementor-item:hover,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main .elementor-item:focus {
	color: #fff;
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .e--pointer-framed .elementor-item:before,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a:hover,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a.highlighted,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-menu-toggle:hover {
	color: var(--e-global-color-3f4016e);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a:hover,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9 .elementor-nav-menu--dropdown a.elementor-item-active {
	color: var(--e-global-color-3f4016e);
	background-color: var(--e-global-color-accent);
}

.elementor-1157 .elementor-element.elementor-element-b0551e9>.elementor-widget-container {
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-color: var(--e-global-color-accent);
}

@media(max-width:1024px) {
	.elementor-1157 .elementor-element.elementor-element-0315b80>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide-contents {
		max-width: 100%;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2 .elementor-slide-description {
		font-size: 17px;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
}

@media(min-width:768px) {
	/*.elementor-1157 .elementor-element.elementor-element-eb0664f {
		width: 54.121%;
	}*/

	.elementor-1157 .elementor-element.elementor-element-fe11cba {
		width: 23.965%;
	}

	.elementor-1157 .elementor-element.elementor-element-8dc25a0 {
		width: 21.016%;
	}

	.elementor-1157 .elementor-element.elementor-element-0315b80 {
		width: 15%;
	}

	.elementor-1157 .elementor-element.elementor-element-75f2307 {
		width: 64.332%;
	}

	.elementor-1157 .elementor-element.elementor-element-77d02b9 {
		width: 20%;
	}
}

@media(max-width:1024px) and (min-width:768px) {
	.elementor-1157 .elementor-element.elementor-element-eb0664f {
		width: 30%;
	}

	.elementor-1157 .elementor-element.elementor-element-fe11cba {
		width: 36%;
	}

	.elementor-1157 .elementor-element.elementor-element-8dc25a0 {
		width: 34%;
	}

	.elementor-1157 .elementor-element.elementor-element-0315b80 {
		width: 17%;
	}

	.elementor-1157 .elementor-element.elementor-element-75f2307 {
		width: 55%;
	}

	.elementor-1157 .elementor-element.elementor-element-77d02b9 {
		width: 28%;
	}
}

@media(max-width:767px) {
	.elementor-1157 .elementor-element.elementor-element-8dc25a0 {
		width: 100%;
	}

	.elementor-1157 .elementor-element.elementor-element-8dc25a0.elementor-column>.elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-1157 .elementor-element.elementor-element-0315b80 {
		width: 25%;
	}

	.elementor-1157 .elementor-element.elementor-element-0315b80>.elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
		padding: 0px 0px 0px 0px;
	}

	.elementor-1157 .elementor-element.elementor-element-f7923d0>.elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}

	.elementor-1157 .elementor-element.elementor-element-75f2307 {
		width: 65%;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide {
		height: 110px;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2 .swiper-slide-inner {
		padding: 0px 0px 0px 0px;
	}

	.elementor-1157 .elementor-element.elementor-element-5bd38e2 .elementor-slide-description {
		font-size: 14px;
	}

	.elementor-1157 .elementor-element.elementor-element-77d02b9 {
		width: 75%;
	}

	.elementor-1157 .elementor-element.elementor-element-8987a98 .elementor-button {
		border-width: 1px 0px 1px 0px;
	}
}