 html {
     line-height: 1.15;
     /* 1 */
     -webkit-text-size-adjust: 100%;
     /* 2 */
 }

 *,
 *::before,
 *::after {
     box-sizing: border-box;
     /* 3 */
 }

 /* Sections
   */
 body {
     margin: 0;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-size: 1rem;
     font-weight: 400;
     line-height: 1.5;
     color: #333333;
     background-color: #fff;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     --wp--preset--color--black: #000000;
			--wp--preset--color--cyan-bluish-gray: #abb8c3;
			--wp--preset--color--white: #ffffff;
			--wp--preset--color--pale-pink: #f78da7;
			--wp--preset--color--vivid-red: #cf2e2e;
			--wp--preset--color--luminous-vivid-orange: #ff6900;
			--wp--preset--color--luminous-vivid-amber: #fcb900;
			--wp--preset--color--light-green-cyan: #7bdcb5;
			--wp--preset--color--vivid-green-cyan: #00d084;
			--wp--preset--color--pale-cyan-blue: #8ed1fc;
			--wp--preset--color--vivid-cyan-blue: #0693e3;
			--wp--preset--color--vivid-purple: #9b51e0;
			--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
			--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
			--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
			--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
			--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
			--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
			--wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
			--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
			--wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
			--wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
			--wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
			--wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
			--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
			--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
			--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
			--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
			--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
			--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
			--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
			--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
			--wp--preset--font-size--small: 13px;
			--wp--preset--font-size--medium: 20px;
			--wp--preset--font-size--large: 36px;
			--wp--preset--font-size--x-large: 42px;
			--wp--preset--spacing--20: 0.44rem;
			--wp--preset--spacing--30: 0.67rem;
			--wp--preset--spacing--40: 1rem;
			--wp--preset--spacing--50: 1.5rem;
			--wp--preset--spacing--60: 2.25rem;
			--wp--preset--spacing--70: 3.38rem;
			--wp--preset--spacing--80: 5.06rem;
			--wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
			--wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
			--wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255, 255, 255, 1), 6px 6px rgba(0, 0, 0, 1);
			--wp--preset--shadow--crisp: 6px 6px 0px rgba(0, 0, 0, 1);
 }

 :where(.is-layout-flex) {
    gap: 0.5em;
}

body .is-layout-flow>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-flow>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-flow>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignleft {
    float: left;
    margin-inline-start: 0;
    margin-inline-end: 2em;
}

body .is-layout-constrained>.alignright {
    float: right;
    margin-inline-start: 2em;
    margin-inline-end: 0;
}

body .is-layout-constrained>.aligncenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: var(--wp--style--global--content-size);
    margin-left: auto !important;
    margin-right: auto !important;
}

body .is-layout-constrained>.alignwide {
    max-width: var(--wp--style--global--wide-size);
}

body .is-layout-flex {
    display: flex;
}

body .is-layout-flex {
    flex-wrap: wrap;
    align-items: center;
}

body .is-layout-flex>* {
    margin: 0;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    color: inherit;
}

:where(.wp-block-columns.is-layout-flex) {
    gap: 2em;
}

.wp-block-pullquote {
    font-size: 1.5em;
    line-height: 1.6;
}

 /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     margin-block-start: 0.5rem;
     margin-block-end: 1rem;
     font-family: inherit;
     font-weight: 500;
     line-height: 1.2;
     color: inherit;
 }

 h1 {
     font-size: 2.5rem;
 }

 h2 {
     font-size: 2rem;
 }

 h3 {
     font-size: 1.75rem;
 }

 h4 {
     font-size: 1.5rem;
 }

 h5 {
     font-size: 1.25rem;
 }

 h6 {
     font-size: 1rem;
 }

 p {
     margin-block-start: 0;
     margin-block-end: 0.9rem;
 }

 /* Grouping content
   */
 /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
 hr {
     box-sizing: content-box;
     /* 1 */
     height: 0;
     /* 1 */
     overflow: visible;
     /* 2 */
 }

 /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
 pre {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
     white-space: pre-wrap;
 }

 /* Text-level semantics
   */
 a {
     background-color: transparent;
     text-decoration: none;
     color: #CC3366;
 }

 a:hover,
 a:active {
     color: #333366;
 }

 a:not([href]):not([tabindex]) {
     color: inherit;
     text-decoration: none;
 }

 a:not([href]):not([tabindex]):hover,
 a:not([href]):not([tabindex]):focus {
     color: inherit;
     text-decoration: none;
 }

 a:not([href]):not([tabindex]):focus {
     outline: 0;
 }

 /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
 abbr[title] {
     border-block-end: none;
     /* 1 */
     text-decoration: underline dotted;
     /* 2 */
 }

 /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
 b,
 strong {
     font-weight: bolder;
 }

 /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
 code,
 kbd,
 samp {
     font-family: monospace, monospace;
     /* 1 */
     font-size: 1em;
     /* 2 */
 }

 /**
   * Add the correct font size in all browsers.
   */
 small {
     font-size: 80%;
 }

 /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
 sub,
 sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline;
 }

 sub {
     bottom: -0.25em;
 }

 sup {
     top: -0.5em;
 }

 /* Embedded content
   */
 /**
   * Remove the border on images inside links in IE 10.
   */
 img {
     border-style: none;
     height: auto;
     max-width: 100%;
 }

 /* Interactive
   */
 /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
 details {
     display: block;
 }

 /*
   * Add the correct display in all browsers.
   */
 summary {
     display: list-item;
 }

 figcaption {
     font-size: 16px;
     color: #333333;
     line-height: 1.4;
     font-style: italic;
     font-weight: 400;
 }

 /* Misc
   */
 /**
   * Add the correct display in IE 10+.
   */
 template {
     display: none;
 }

 /**
   * Add the correct display in IE 10.
   */
 [hidden] {
     display: none;
 }

 /* Print
   */
 @media print {

     *,
     *:before,
     *:after {
         background: transparent !important;
         color: #000 !important;
         /* Black prints faster */
         -webkit-box-shadow: none !important;
         box-shadow: none !important;
         text-shadow: none !important;
     }

     a,
     a:visited {
         text-decoration: underline;
     }

     a[href]:after {
         content: " ("attr(href) ")";
     }

     abbr[title]:after {
         content: " ("attr(title) ")";
     }

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
         content: "";
     }

     pre {
         white-space: pre-wrap !important;
     }

     pre,
     blockquote {
         break-inside: avoid;
         border: 1px solid #cccccc;
     }

     thead {
         display: table-header-group;
     }

     tr,
     img {
         break-inside: avoid;
     }

     p,
     h2,
     h3 {
         orphans: 3;
         widows: 3;
     }

     h2,
     h3 {
         break-after: avoid;
     }
 }

 /**
   * Form styling
   * DO NOT CHANGE THIS FILE!
   * To override any of the settings in this section, add your styling code in the custom directory.
   */
 label {
     display: inline-block;
     line-height: 1;
     vertical-align: middle;
 }

 /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
 button,
 input,
 optgroup,
 select,
 textarea {
     font-family: inherit;
     /* 1 */
     font-size: 1rem;
     /* 1 */
     line-height: 1.5;
     /* 1 */
     margin: 0;
     /* 2 */
 }

 input[type=text],
 input[type=date],
 input[type=email],
 input[type=number],
 input[type=password],
 input[type=search],
 input[type=tel],
 input[type=url],
 select,
 textarea {
     width: 100%;
     border: solid 1px #666666;
     border-radius: 3px;
     padding: 0.5rem 1rem;
     transition: all 0.3s;
 }

 input[type=text]:focus,
 input[type=date]:focus,
 input[type=email]:focus,
 input[type=number]:focus,
 input[type=password]:focus,
 input[type=search]:focus,
 input[type=tel]:focus,
 input[type=url]:focus,
 select:focus,
 textarea:focus {
     border-color: #333333;
 }

 /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
 button,
 input {
     /* 1 */
     overflow: visible;
 }

 /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
 button,
 select {
     /* 1 */
     text-transform: none;
 }

 /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
 button,
 [type=button],
 [type=reset],
 [type=submit] {
     width: auto;
     -webkit-appearance: button;
 }

 /**
   * Remove the inner border and padding in Firefox.
   */
 button::-moz-focus-inner,
 [type=button]::-moz-focus-inner,
 [type=reset]::-moz-focus-inner,
 [type=submit]::-moz-focus-inner {
     border-style: none;
     padding: 0;
 }

 /**
   * Restore the focus styles unset by the previous rule.
   */
 button:-moz-focusring,
 [type=button]:-moz-focusring,
 [type=reset]:-moz-focusring,
 [type=submit]:-moz-focusring {
     outline: 1px dotted ButtonText;
 }

 button,
 [type=submit],
 [type=button] {
     display: inline-block;
     font-weight: 400;
     color: #CC3366;
     text-align: center;
     white-space: nowrap;
     user-select: none;
     background-color: transparent;
     border: 1px solid #CC3366;
     padding: 0.5rem 1rem;
     font-size: 1rem;
     border-radius: 3px;
     transition: all 0.3s;
 }

 button:focus,
 [type=submit]:focus,
 [type=button]:focus {
     outline: 5px auto -webkit-focus-ring-color;
 }

 button:hover,
 button:focus,
 [type=submit]:hover,
 [type=submit]:focus,
 [type=button]:hover,
 [type=button]:focus {
     color: #ffffff;
     background-color: #CC3366;
     text-decoration: none;
 }

 button:not(:disabled),
 [type=submit]:not(:disabled),
 [type=button]:not(:disabled) {
     cursor: pointer;
 }

 /**
   * Correct the padding in Firefox.
   */
 fieldset {
     padding: 0.35em 0.75em 0.625em;
 }

 /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
 legend {
     box-sizing: border-box;
     /* 1 */
     color: inherit;
     /* 2 */
     display: table;
     /* 1 */
     max-width: 100%;
     /* 1 */
     padding: 0;
     /* 3 */
     white-space: normal;
     /* 1 */
 }

 /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
 progress {
     vertical-align: baseline;
 }

 /**
   * Remove the default vertical scrollbar in IE 10+.
   */
 textarea {
     overflow: auto;
     resize: vertical;
 }

 /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
 [type=checkbox],
 [type=radio] {
     box-sizing: border-box;
     /* 1 */
     padding: 0;
     /* 2 */
 }

 /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
 [type=number]::-webkit-inner-spin-button,
 [type=number]::-webkit-outer-spin-button {
     height: auto;
 }

 /**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
 [type=search] {
     -webkit-appearance: textfield;
     /* 1 */
     outline-offset: -2px;
     /* 2 */
 }

 /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
 [type=search]::-webkit-search-decoration {
     -webkit-appearance: none;
 }

 /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
 ::-webkit-file-upload-button {
     -webkit-appearance: button;
     /* 1 */
     font: inherit;
     /* 2 */
 }

 select {
     display: block;
 }

 /**
   * Table styling
   * DO NOT CHANGE THIS FILE!
   * To override any of the settings in this section, add your styling code in the custom directory.
   */
 table {
     background-color: transparent;
     width: 100%;
     margin-block-end: 15px;
     font-size: 0.9em;
     border-spacing: 0;
     border-collapse: collapse;
 }

 table th,
 table td {
     padding: 15px;
     line-height: 1.5;
     vertical-align: top;
     border: 1px solid rgba(128, 128, 128, 0.5019607843);
 }

 table th {
     font-weight: bold;
 }

 table thead th,
 table tfoot th {
     font-size: 1em;
 }

 table caption+thead tr:first-child th,
 table caption+thead tr:first-child td,
 table caption+thead tr:first-child th,
 table caption+thead tr:first-child td,
 table colgroup+thead tr:first-child th,
 table colgroup+thead tr:first-child td,
 table colgroup+thead tr:first-child th,
 table colgroup+thead tr:first-child td,
 table thead:first-child tr:first-child th,
 table thead:first-child tr:first-child td,
 table thead:first-child tr:first-child th,
 table thead:first-child tr:first-child td {
     border-block-start: 1px solid rgba(128, 128, 128, 0.5019607843);
 }

 table tbody>tr:nth-child(odd)>td,
 table tbody>tr:nth-child(odd)>th {
     background-color: rgba(128, 128, 128, 0.0705882353);
 }

 table tbody tr:hover>td,
 table tbody tr:hover>th {
     background-color: rgba(128, 128, 128, 0.1019607843);
 }

 table tbody+tbody {
     border-block-start: 2px solid rgba(128, 128, 128, 0.5019607843);
 }

 @media (max-width: 767px) {
     table table {
         font-size: 0.8em;
     }

     table table th,
     table table td {
         padding: 7px;
         line-height: 1.3;
     }

     table table th {
         font-weight: 400;
     }
 }

 /**
   * List styling
   * DO NOT CHANGE THIS FILE!
   * To override any of the settings in this section, add your styling code in the custom directory.
   */
 dl,
 dt,
 dd,
 ol,
 ul,
 li {
     margin-block-start: 0;
     margin-block-end: 0;
     border: 0;
     outline: 0;
     font-size: 100%;
     vertical-align: baseline;
     background: transparent;
 }

 @charset "UTF-8";

 .comments-area a,
 .page-content a {
     text-decoration: underline
 }

 .alignright {
     float: right;
     margin-left: 1rem
 }

 .alignleft {
     float: left;
     margin-right: 1rem
 }

 .aligncenter {
     clear: both;
     display: block;
     margin-left: auto;
     margin-right: auto
 }

 .alignwide {
     margin-left: -80px;
     margin-right: -80px
 }

 .alignfull {
     margin-left: calc(50% - 50vw);
     margin-right: calc(50% - 50vw);
     max-width: 100vw
 }

 .alignfull,
 .alignfull img {
     width: 100vw
 }

 .wp-caption {
     -webkit-margin-after: 1.25rem;
     margin-block-end: 1.25rem;
     max-width: 100%
 }

 .wp-caption.alignleft {
     margin: 5px 20px 20px 0
 }

 .wp-caption.alignright {
     margin: 5px 0 20px 20px
 }

 .wp-caption img {
     display: block;
     margin-left: auto;
     margin-right: auto
 }

 .wp-caption-text {
     margin: 0
 }

 .gallery-caption {
     display: block;
     font-size: .8125rem;
     line-height: 1.5;
     margin: 0;
     padding: .75rem
 }

 .pagination {
     margin: 20px auto
 }

 .sticky {
     position: relative;
     display: block
 }

 .bypostauthor {
     font-size: inherit
 }

 .hide {
     display: none !important
 }

 .post-password-form p {
     width: 100%;
     display: flex;
     align-items: flex-end
 }

 .post-password-form [type=submit] {
     margin-left: 3px
 }

 .screen-reader-text {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     position: absolute !important;
     width: 1px;
     word-wrap: normal !important
 }

 .screen-reader-text:focus {
     background-color: #eee;
     clip: auto !important;
     -webkit-clip-path: none;
     clip-path: none;
     color: #333;
     display: block;
     font-size: 1rem;
     height: auto;
     left: 5px;
     line-height: normal;
     padding: 15px 23px 14px;
     text-decoration: none;
     top: 5px;
     width: auto;
     z-index: 100000
 }

 .site-header {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     -webkit-padding-before: 1rem;
     padding-block-start: 1rem;
     -webkit-padding-after: 1rem;
     padding-block-end: 1rem;
     position: relative
 }

 .site-header .site-navigation {
     justify-content: flex-end
 }

 .site-header .site-branding {
     display: flex;
     flex-direction: column;
     justify-content: center
 }

 .site-header .header-inner {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between
 }

 .site-header .header-inner .custom-logo-link {
     display: block
 }

 .site-header .header-inner .site-branding .site-description,
 .site-header .header-inner .site-branding .site-title {
     margin: 0
 }

 .site-header .header-inner .site-branding.show-logo .site-title,
 .site-header .header-inner .site-branding.show-title .site-logo {
     display: none !important
 }

 .site-header:not(.header-stacked) .header-inner .site-branding {
     max-width: 30%
 }

 .site-header:not(.header-stacked) .header-inner .site-navigation {
     max-width: 70%
 }

 .site-header.header-inverted .header-inner {
     flex-direction: row-reverse
 }

 .site-header.header-inverted .header-inner .site-branding {
     text-align: right
 }

 .site-header.header-inverted .header-inner .site-navigation {
     justify-content: start
 }

 .site-header.header-stacked .header-inner {
     align-items: center;
     flex-direction: column;
     text-align: center
 }

 @media (max-width:576px) {
     .site-header .header-inner:not(.header-stacked) .site-branding {
         max-width: 80%
     }
 }

 .site-footer {
     -webkit-padding-before: 1rem;
     padding-block-start: 1rem;
     -webkit-padding-after: 1rem;
     padding-block-end: 1rem;
     position: relative
 }

 .site-footer .footer-inner {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between
 }

 .site-footer .footer-inner .custom-logo-link {
     display: block
 }

 .site-footer .footer-inner .site-navigation {
     justify-content: flex-end
 }

 .site-footer .footer-inner .site-branding {
     display: flex;
     flex-direction: column;
     justify-content: center
 }

 .site-footer .footer-inner .site-branding .site-description,
 .site-footer .footer-inner .site-branding .site-title {
     margin: 0
 }

 .site-footer .footer-inner .site-branding.show-logo .site-title,
 .site-footer .footer-inner .site-branding.show-title .site-logo {
     display: none !important
 }

 .site-footer .footer-inner .copyright {
     align-items: center;
     display: flex;
     justify-content: flex-end
 }

 .site-footer .footer-inner .copyright p {
     margin: 0
 }

 .site-footer.footer-inverted .footer-inner {
     flex-direction: row-reverse
 }

 .site-footer.footer-inverted .footer-inner .site-branding {
     text-align: right
 }

 .site-footer.footer-inverted .footer-inner .site-navigation {
     justify-content: flex-start
 }

 .site-footer.footer-has-copyright .footer-inner .site-navigation {
     justify-content: center
 }

 .site-footer.footer-stacked .footer-inner {
     align-items: center;
     flex-direction: column;
     text-align: center
 }

 .site-footer.footer-stacked .footer-inner .site-branding h4.site-title {
     text-align: center
 }

 .site-footer.footer-stacked .footer-inner .site-navigation .menu {
     padding: 0
 }

 .site-footer:not(.footer-stacked) .footer-inner .site-branding {
     max-width: 20%
 }

 .site-footer:not(.footer-stacked) .footer-inner .site-navigation {
     max-width: 60%
 }

 .site-footer:not(.footer-stacked) .footer-inner .copyright {
     max-width: 20%
 }

 @media (max-width:576px) {

     .site-footer:not(.footer-stacked) .footer-inner .copyright,
     .site-footer:not(.footer-stacked) .footer-inner .site-branding,
     .site-footer:not(.footer-stacked) .footer-inner .site-navigation {
         display: block;
         text-align: center;
         width: 100%;
         max-width: none
     }

     .site-footer .footer-inner .site-navigation ul.menu {
         justify-content: center
     }

     .site-footer .footer-inner .site-navigation ul.menu li {
         display: inline-block
     }
 }

 .post .entry-title a {
     text-decoration: none
 }

 .post .wp-post-image {
     width: 100%;
     max-height: 500px;
     -o-object-fit: cover;
     object-fit: cover
 }

 @media (max-width:991px) {
     .post .wp-post-image {
         max-height: 400px
     }
 }

 @media (max-width:575px) {
     .post .wp-post-image {
         max-height: 300px
     }
 }

 #comments .comment-list {
     margin: 0;
     padding: 0;
     list-style: none;
     font-size: .9em
 }

 #comments .comment,
 #comments .pingback {
     position: relative
 }

 #comments .comment .comment-body,
 #comments .pingback .comment-body {
     display: flex;
     flex-direction: column;
     -webkit-padding-before: 30px;
     padding-block-start: 30px;
     -webkit-padding-after: 30px;
     padding-block-end: 30px;
     -webkit-padding-start: 60px;
     padding-inline-start: 60px;
     -webkit-padding-end: 0;
     padding-inline-end: 0;
     -webkit-border-after: 1px solid #ccc;
     border-block-end: 1px solid #ccc
 }

 #comments .comment .avatar,
 #comments .pingback .avatar {
     position: absolute;
     left: 0;
     border-radius: 50%;
     -webkit-margin-end: 10px;
     margin-inline-end: 10px
 }

 body.rtl #comments .comment .avatar,
 body.rtl #comments .pingback .avatar,
 html[dir=rtl] #comments .comment .avatar,
 html[dir=rtl] #comments .pingback .avatar {
     left: auto;
     right: 0
 }

 #comments .comment-meta {
     display: flex;
     justify-content: space-between;
     -webkit-margin-after: .9rem;
     margin-block-end: .9rem
 }

 #comments .comment-metadata,
 #comments .reply {
     font-size: 11px;
     line-height: 1
 }

 #comments .children {
     position: relative;
     list-style: none;
     margin: 0;
     -webkit-padding-start: 30px;
     padding-inline-start: 30px
 }

 #comments .children li:last-child {
     -webkit-padding-after: 0;
     padding-block-end: 0
 }

 #comments ol.comment-list .children:before {
     display: inline-block;
     font-size: 1em;
     font-weight: 400;
     line-height: 100%;
     content: "↪";
     position: absolute;
     top: 45px;
     left: 0;
     width: auto
 }

 body.rtl #comments ol.comment-list .children:before,
 html[dir=rtl] #comments ol.comment-list .children:before {
     content: "↩";
     left: auto;
     right: 0
 }

 @media (min-width:768px) {

     #comments .comment-author,
     #comments .comment-metadata {
         line-height: 1
     }
 }

 @media (max-width:767px) {
     #comments .comment .comment-body {
         padding: 30px 0
     }

     #comments .children {
         -webkit-padding-start: 20px;
         padding-inline-start: 20px
     }

     #comments .comment .avatar {
         position: inherit;
         float: left
     }

     body.rtl #comments .comment .avatar,
     html[dir=rtl] #comments .comment .avatar {
         float: right
     }
 }

 .site-header.header-inverted .site-navigation-toggle-holder {
     justify-content: flex-start
 }

 .site-header.header-stacked .site-navigation-toggle-holder {
     justify-content: center;
     max-width: 100%
 }

 .site-header.menu-layout-dropdown .site-navigation {
     display: none
 }

 .site-navigation-toggle-holder {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     flex-grow: 1;
     max-width: 20%;
     padding: 8px 15px
 }

 .site-navigation-toggle-holder .site-navigation-toggle {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 22px;
     padding: .25em;
     cursor: pointer;
     border: 0 solid;
     border-radius: 3px;
     background-color: rgba(0, 0, 0, .05);
     color: #494c4f
 }

 .site-navigation-toggle-holder.elementor-active .site-navigation-toggle i:before {
     content: "\e87f"
 }

 .site-navigation {
     grid-area: nav-menu;
     display: flex;
     align-items: center;
     flex-grow: 1
 }

 .site-navigation ul.menu,
 .site-navigation ul.menu ul {
     list-style-type: none;
     padding: 0
 }

 .site-navigation ul.menu {
     display: flex;
     flex-wrap: wrap
 }

 .site-navigation ul.menu li {
     position: relative;
     display: flex
 }

 .site-navigation ul.menu li a {
     display: block;
     padding: 8px 15px
 }

 .site-navigation ul.menu li.menu-item-has-children {
     -webkit-padding-end: 15px;
     padding-inline-end: 15px
 }

 .site-navigation ul.menu li.menu-item-has-children:after {
     display: block;
     content: "▾";
     font-size: 1.5em;
     align-items: center;
     color: #666;
     position: absolute;
     right: 0;
     top: 50%;
     transform: translateY(-50%);
     text-decoration: none
 }

 .site-navigation ul.menu li.menu-item-has-children:focus-within>ul {
     display: block
 }

 .site-navigation ul.menu li ul {
     background: #fff;
     display: none;
     min-width: 150px;
     position: absolute;
     z-index: 2;
     left: 0;
     top: 100%
 }

 .site-navigation ul.menu li ul li {
     -webkit-border-after: #eee 1px solid;
     border-block-end: #eee 1px solid
 }

 .site-navigation ul.menu li ul li:last-child {
     -webkit-border-after: none;
     border-block-end: none
 }

 .site-navigation ul.menu li ul li.menu-item-has-children a {
     flex-grow: 1
 }

 .site-navigation ul.menu li ul li.menu-item-has-children:after {
     transform: translateY(-50%) rotate(-90deg)
 }

 .site-navigation ul.menu li ul ul {
     left: 100%;
     top: 0
 }

 .site-navigation ul.menu li:hover>ul {
     display: block
 }

 footer .site-navigation ul.menu li ul {
     top: auto;
     bottom: 100%
 }

 footer .site-navigation ul.menu li ul ul {
     bottom: 0
 }

 footer .site-navigation ul.menu a {
     padding: 5px 15px
 }

 .site-navigation-dropdown {
     -webkit-margin-before: 10px;
     margin-block-start: 10px;
     transition: max-height .3s, transform .3s;
     transform-origin: top;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 10000;
     width: 100%
 }

 .site-navigation-toggle-holder:not(.elementor-active)+.site-navigation-dropdown {
     transform: scaleY(0);
     max-height: 0
 }

 .site-navigation-toggle-holder.elementor-active+.site-navigation-dropdown {
     transform: scaleY(1);
     max-height: 100vh
 }

 .site-navigation-dropdown ul {
     padding: 0
 }

 .site-navigation-dropdown ul.menu {
     position: absolute;
     width: 100%;
     padding: 0;
     margin: 0;
     background: #fff
 }

 .site-navigation-dropdown ul.menu li {
     display: block;
     width: 100%;
     position: relative
 }

 .site-navigation-dropdown ul.menu li a {
     display: block;
     padding: 20px;
     background: #fff;
     color: #55595c;
     box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1019607843)
 }

 .site-navigation-dropdown ul.menu li.current-menu-item a {
     color: #fff;
     background: #55595c
 }

 .site-navigation-dropdown ul.menu>li li {
     transition: max-height .3s, transform .3s;
     transform-origin: top;
     transform: scaleY(0);
     max-height: 0
 }

 .site-navigation-dropdown ul.menu li.elementor-active>ul>li {
     transform: scaleY(1);
     max-height: 100vh
 }

 @media (max-width:576px) {
     .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
         display: none !important
     }
 }

 @media (min-width:768px) {
     .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
         display: none !important
     }
 }

 @media (min-width:576px) and (max-width:767px) {
     .site-header.menu-dropdown-mobile:not(.menu-layout-dropdown) .site-navigation {
         display: none !important
     }
 }

 @media (min-width:992px) {
     .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
         display: none !important
     }
 }

 @media (max-width:992px) {
     .site-header.menu-dropdown-tablet:not(.menu-layout-dropdown) .site-navigation {
         display: none !important
     }
 }

 .site-header.menu-dropdown-none:not(.menu-layout-dropdown) .site-navigation-toggle-holder {
     display: none !important
 }

 .page-header .entry-title,
 .site-footer .footer-inner,
 .site-footer:not(.dynamic-footer),
 .site-header .header-inner,
 .site-header:not(.dynamic-header),
 body:not([class*=elementor-page-]) .site-main {
     -webkit-margin-start: auto;
     margin-inline-start: auto;
     -webkit-margin-end: auto;
     margin-inline-end: auto;
     width: 100%
 }

 @media (max-width:575px) {

     .page-header .entry-title,
     .site-footer .footer-inner,
     .site-footer:not(.dynamic-footer),
     .site-header .header-inner,
     .site-header:not(.dynamic-header),
     body:not([class*=elementor-page-]) .site-main {
         -webkit-padding-start: 10px;
         padding-inline-start: 10px;
         -webkit-padding-end: 10px;
         padding-inline-end: 10px
     }
 }

 @media (min-width:576px) {

     .page-header .entry-title,
     .site-footer .footer-inner,
     .site-footer:not(.dynamic-footer),
     .site-header .header-inner,
     .site-header:not(.dynamic-header),
     body:not([class*=elementor-page-]) .site-main {
         max-width: 500px
     }

     .site-footer.footer-full-width .footer-inner,
     .site-header.header-full-width .header-inner {
         max-width: 100%
     }
 }

 @media (min-width:768px) {

     .page-header .entry-title,
     .site-footer .footer-inner,
     .site-footer:not(.dynamic-footer),
     .site-header .header-inner,
     .site-header:not(.dynamic-header),
     body:not([class*=elementor-page-]) .site-main {
         max-width: 600px
     }

     .site-footer.footer-full-width,
     .site-header.header-full-width {
         max-width: 100%
     }
 }

 @media (min-width:992px) {

     .page-header .entry-title,
     .site-footer .footer-inner,
     .site-footer:not(.dynamic-footer),
     .site-header .header-inner,
     .site-header:not(.dynamic-header),
     body:not([class*=elementor-page-]) .site-main {
         max-width: 800px
     }

     .site-footer.footer-full-width,
     .site-header.header-full-width {
         max-width: 100%
     }
 }

 @media (min-width:1200px) {

     .page-header .entry-title,
     .site-footer .footer-inner,
     .site-footer:not(.dynamic-footer),
     .site-header .header-inner,
     .site-header:not(.dynamic-header),
     body:not([class*=elementor-page-]) .site-main {
         max-width: 1140px
     }

     .site-footer.footer-full-width,
     .site-header.header-full-width {
         max-width: 100%
     }
 }

 .site-header+.elementor {
     min-height: calc(100vh - 320px)
 }